{{#each this}}
<li class="card-item" id="{{_id}}">
    <div class="item-box">
        <div class="picture-box">
            {{#each images}}
            <img class="item-picture" src="{{this}}" alt="имя категории">
            {{/each}}
        </div>
        <div>
            <h2 class="card-item-title">{{name}}</h2>
            <div class="icon-box">
                {{!-- <svg class="icon-box-svg">
                    <use class="icon-star" href="./components/carditem/images/icon-star.svg"></use>
                    <use class="icon-star" href="./components/carditem/images/icon-star.svg"></use>
                    <use class="icon-star" href="./components/carditem/images/icon-star.svg"></use>
                    <use class="icon-star" href="./components/carditem/images/icon-star.svg"></use>
                    <use class="icon-star" href="./components/carditem/images/icon-star.svg"></use>
                </svg> --}}
            </div>
        </div>
        <div class="item-box-price">
            <p class="notsale-price">{{price}} ₴</p>
            <p class="price">{{price}} ₴</p>
        </div>
        <svg class="favorit-icon">
            <use class="icon-heard" href="./components/carditem/images/icon-heart.svg"></use>
            <use class="icon-heard-full" href="./components/carditem/images/icon-heart-full.svg"></use>
        </svg>
    </div>
</li>
{{/each}}