{{#each this}}
<li class="list-item" data-id="{{id}}">
  <div class="middle-wrapper">
    <img class="cart-img" src="{{image}}" width="300" height="300" alt="" />
    <div class="cart-content">
      <p class="cart-description">{{name}}</p>
      <p class="cart-sum">{{price}}₴</p>
    </div>
    <button class="delete-button" data-button="delete-button">
      <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path
          d="M8.33472 1.20728H11.6773V1.76971H12.8844V1.12854C12.8846 0.506287 12.3786 0 11.7567 0H8.25537C7.63342 0 7.12744 0.506287 7.12744 1.12854V1.76971H8.33472V1.20728Z"
          fill="white" />
        <path
          d="M15.6722 6.55273H4.33981C4.02929 6.55273 3.78484 6.81763 3.80987 7.12723L4.75729 18.8423C4.81008 19.4963 5.35558 20 6.01095 20H14.0009C14.6563 20 15.2018 19.4963 15.2546 18.8422L16.202 7.12723C16.2272 6.81763 15.9827 6.55273 15.6722 6.55273ZM7.0838 18.7505C7.07113 18.7512 7.05847 18.7517 7.04595 18.7517C6.72949 18.7517 6.46383 18.5052 6.44415 18.1851L5.85043 8.56766C5.82998 8.23486 6.08312 7.94846 6.41577 7.92801C6.74734 7.90787 7.03497 8.1604 7.05541 8.49335L7.64898 18.1108C7.66958 18.4436 7.41644 18.7299 7.0838 18.7505ZM10.6164 18.148C10.6164 18.4813 10.3461 18.7515 10.0127 18.7515C9.67932 18.7515 9.40908 18.4813 9.40908 18.148V8.53043C9.40908 8.19702 9.67932 7.92679 10.0127 7.92679C10.346 7.92679 10.6164 8.19702 10.6164 8.53043V18.148ZM14.1616 8.56598L13.5947 18.1834C13.576 18.5042 13.3098 18.7515 12.9928 18.7515C12.9809 18.7515 12.9688 18.7512 12.9568 18.7506C12.624 18.7309 12.3701 18.4453 12.3897 18.1125L12.9564 8.49487C12.976 8.16208 13.2607 7.90817 13.5944 7.92786C13.9272 7.94739 14.1811 8.23318 14.1616 8.56598Z"
          fill="white" />
        <path
          d="M17.7597 4.69L17.3633 3.50165C17.2587 3.18839 16.9655 2.97705 16.6351 2.97705H3.3769C3.0467 2.97705 2.75328 3.18839 2.64891 3.50165L2.25248 4.69C2.17604 4.91919 2.27552 5.15295 2.46122 5.26953C2.53691 5.31699 2.62647 5.34552 2.72489 5.34552H17.2873C17.3857 5.34552 17.4754 5.31699 17.5509 5.26938C17.7366 5.1528 17.8361 4.91904 17.7597 4.69Z"
          fill="white" />
      </svg>
    </button>
  </div>
  <div class="counter-wrapper">
    <button class="decriment-button" type="button" data-value="-" data-button="decriment-button">
      {{!-- <svg width="18" height="2" viewBox="0 0 18 2" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M1 1H17" stroke="white" stroke-width="2" stroke-linecap="round" />
      </svg> --}}-
    </button>
    <span class="counter-value">{{totalQuantity}}</span>
    <button class="increment-button" type="button" data-value="+" data-button="increment-button">
      {{!-- <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path d="M9 17V1" stroke="white" stroke-width="2" stroke-linecap="round" />
        <path d="M1 9H17" stroke="white" stroke-width="2" stroke-linecap="round" />
      </svg> --}}+
    </button>
    <p class="counter-sum"><span>{{totalSum}}</span> ₴</p>
  </div>
</li>
{{/each}}